<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Current Weather</h1>
    <p>City: {{ current_weather.data[0].city_name }}</p>
    <p>Temperature: {{ current_weather.data[0].temp }}°C</p>
    <p>Presión: {{ current_weather.data[0].pres }} Hpa.</p>
    <p>Cobertura nubosa: {{ current_weather.data[0].clouds }} %.</p>
    <img source="https://www.weatherbit.io/static/img/icons/{{ current_weather.data[0].weather.icon}}.png" alt="icon">
    <p>Weather Condition: {{ current_weather.data[0].weather.description }}</p>
    <img source="http://www.weatherbit.io/static/img/icons/c01n.png" alt="icon">
</body>
</html>